
.wrapper{
    min-height: 10vh;
    max-height: 10vh;
    min-width: 100vw;
    z-index: 10;
    position: fixed;
    bottom: 0;
    //-webkit-backdrop-filter: blur(2px);
    //backdrop-filter: blur(2px);
    //background-color: white;
    //filter: blur(2px);
    //opacity: 1;
    background-color: rgba(255, 255, 255);
    border-top: rgb(192, 192, 192) 0.5px solid;
    .icons{
        height: 10vh;
        width: 100vw;

        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        align-items: center;

        a{
            height: 4vh;

            display: flex;
            justify-content: center;
            align-items: center;

            img{
                height: 4vh;
            }

            .add_icon{
                position: relative;
                bottom: 125%;
                height: 15vh;
            }

            .home_icon{
                position: relative;
                left: 2.1vw;
            }

            .events_icon{
                position: relative;
                left: 5.8vw;
            }
            
            .profile_icon{
                position: relative;
                right: 5.8vw;
            }

            .settings_icon{
                position: relative;
                right: 2.1vw;
            }

        }
    }
}