.upper{
    min-width: 100vw;
    min-height: 33vh;
    background-color: grey;
}

.middle{
    min-width: 100vw;
    min-height: 33vh;
    background-color: yellow;
}

.lower{
    min-width: 100vw;
    min-height: 33vh;
    background-color: green;
}