.header{
    height: 40vh;
    background: rgb(255,123,0);
    background: linear-gradient(156deg, rgba(255,123,0,1) 0%, rgba(255,183,0,1) 37%, rgba(255,234,0,1) 100%); 
    z-index: 1;

    .svg_wrapper {
        height: 40vh;
        //display: inline-block;
        position: relative;
        top: 22vh;
        width: 100%;
        //padding-bottom: 10%;
        vertical-align: middle;
        //overflow: hidden;
        transform: rotate(180deg);
        //background-color: red;
        z-index: 9;
    
        svg {
            display: inline-block;
            position: absolute;
            top: 15vh;
            stroke: none;
            fill: white;
        }
    }

    h1{
        font-weight: bold;
        font-size: 56px;
        color: white;
        position: relative;
        bottom: 33vh;
        margin-left: 12vw;
    }
}
  